
    <div>
        <h4>Thank you for signing up with Alliance Isurance!</h4>

        <p>In order to complete your registraion, please click on the link below to be redirected to the login page. Thanks!</p>

        <p>We're for you and for the Alliance!</p>

        <div class="home-link-container">
            <div class="home-link">
                @Html.ActionLink("Login", "Login", "Home", null, new { @class = "input-button" })
            </div>
        </div>
    </div>
