
    <div>
        <h4>Thank you for signing up with Alliance Isurance!</h4>

        <p>In order to complete your registraion, please click on the link below to be redirected to the login page. Thanks!</p>

        <p>For the Alliance!</p>

        @Html.ActionLink("Login", "Login")
    </div>
