@{
    ViewBag.Title = "About";
}

<div class="hero-banner about">
    <div class="container">
        <h2 class="page-heading">@ViewBag.Title</h2>
    </div>
</div>


<div class="row featurette about-grab">
    <div class="col-md-9 order-md-2">

        <p class="lead">Want to know more about Alliance? You've come to the right place. Here's where you'll find a bit more information about our history spanning over 140 years and our latest news. Plus, meet our leadership team and find out why you should choose us to help look after the things you value.</p>
    </div>
    <div class="col-md-3 order-md-1 about-img">
        <img src="~/Content/img/grab-3.jpg" alt="Alternate Text" />
    </div>
</div>

<h2 class="">Gallery</h2>

<hr class="mt-2 mb-5">

<div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="~/Content/img/grab-1.png" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="~/Content/img/grab-2.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="~/Content/img/grab-4.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="~/Content/img/grab-4.jpg" alt="">
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="~/Content/img/grab-4.jpg" alt="">
        </a>
    </div>
</div>

