
@{
    ViewBag.Title = "Services";
}

<div class="hero-banner services">
    <div class="container">
        <h2 class="page-heading">@ViewBag.Title</h2>
    </div>
</div>

<div>
    <div class="row row-cols-2">
        <div class="col services-info">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col services-info">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="compare-table">
    <div class="row table-heading">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-heading">
                    <span>
                        Comprehensive Cover
                    </span>
                    <hr />
                </div>
                <div class="col col-heading">
                    <span>
                        Third Party, Fire and Theft
                    </span>
                    <hr />
                </div>
                <div class="col col-heading">
                    <span>
                        Third Party
                    </span>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Repair garentee</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Rental car</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Fire damage and theft</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Damage by an unisured vehicle</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Nuclear War</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Global Pandemic</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>One event - one excess</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Legal liability</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Replacement vehicle</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Collision cover</p>
        </div>
        <div class="col-sm-8">
            <div class="row row-cols-3">
                <div class="col col-item"><i class="fa fa-check"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
                <div class="col col-item"><i class="fa fa-minus"></i><hr /></div>
            </div>
        </div>
    </div>
</div>
